<h1>[ngStyle] in Angular</h1>

<button type="button" [ngStyle]="{'color': '#fff', 'background-color': bgColor['used']}" (click)="changedColor('used')">Used Key</button> &nbsp; &nbsp;
<button type="button" [ngStyle]="{'color': '#fff', 'background-color': bgColor['active_used']}" (click)="changedColor('active_used')">Active Used Key</button> &nbsp; &nbsp;
<button type="button" [ngStyle]="{'color': '#fff', 'background-color': bgColor['all']}" (click)="changedColor('all')">All Key</button> &nbsp; &nbsp;
<button type="button" [ngStyle]="{'color': '#fff', 'background-color': bgColor['unused']}" (click)="changedColor('unused')">Unused Key</button> &nbsp; &nbsp;
