<h1>Nested loop in Angular</h1>

<table border="1">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Degree</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employee; let i=index;">
      <td>{{i+1}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.age}}</td>
      <td>{{emp.email}}</td>
      <td>
        <ul *ngFor="let deg of emp.degree;">
          <li>{{deg}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>